<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net452" />
  <package id="Crystal.Reports.Essentials" version="13.0.20.2399" targetFramework="net452" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net452" />
  <package id="CrystalReports" version="13.0.5.891" targetFramework="net452" />
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
</packages>